<h1><%= @artist.id ? 'Edit Artist' : 'Create Artist' %></h1>

<div class='container'>
  <%= form_for [@board, @artist] do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit class: 'btn green black-text' %>
  <% end %>
</div>
