<h1>Artists</h1>

<%= link_to 'Add an Artist', new_board_artist_path(@board) %>

<ul>
  <% @artists.each do |artist| %>
  <li>
    <h4><%= artist.name %></h4>


    <%= link_to 'Edit Artist', edit_board_artist_path(@board, artist) %>
    <%= link_to 'Delete Artist', board_artist_path(@board, artist), method: :delete%>
    <%= link_to 'Artist Works', artist_songs_path(artist) %>
  
  </li>
  <% end %>
</ul>
