<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>

  <%= form_for [@artist, @song] do |f| %>
    
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :rating %>
      <%= f.number_field :rating %>
  
    <%= f.submit %>
  <% end %>
